[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = http://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = http://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/yankring.vim"]
	path = bundle/yankring.vim
	url = http://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = http://github.com/SirVer/ultisnips.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = http://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-zsh"]
	path = bundle/deoplete-zsh
	url = http://github.com/zchee/deoplete-zsh.git
[submodule "bundle/deoplete-docker"]
	path = bundle/deoplete-docker
	url = http://github.com/zchee/deoplete-docker.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/yats.vim"]
	path = bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/deoplete-typescript"]
	path = bundle/deoplete-typescript
	url = http://github.com/mhartington/deoplete-typescript.git
[submodule "vim-javacomplete2"]
	path = bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
